<ul class="list" >
    <li>
        <label>
            <input data-name="js-auth" type="checkbox" {{ auth }} >
            Auth
        </label>
    </li>
    <li>
        <input
            data-name="js-username"
            type="text"
            class="form-control"
            placeholder="username"
            value="{{ username }}"
            title="Username">
    </li>
    <li>
        <input
            data-name="js-password"
            type="password"
            class="form-control"
            placeholder="password"
            value="{{ password }}"
            title="Password">
    </li>
    <li>
        <label>
            <input
                data-name="js-diff"
                type="checkbox"
                {{ diff }}>
            Diff
        </label>
    </li>
    <li>
        <label>
            <input
                data-name="js-zip"
                type="checkbox"
                {{ zip }}>
            Zip
         </label>
    </li>
    <li>
        <select data-name="js-editor" class="form-control full-width" title="Editor">
            <option {{ edward-selected }}>edward</option>
            <option {{ dword-selected }}>dword</option>
            <option {{ deepword-selected }}>deepword</option>
        </select>
    </li>
    <li>
        <label>
            <input
                data-name="js-notifications"
                type="checkbox"
                {{ notifications }}>
            Notifications
        </label>
    </li>
    <li>
        <label>
            <input
                data-name="js-localStorage"
                type="checkbox"
                {{ localStorage }}>
            Local Storage
        </label>
    </li>
    <li>
        
        <label>
            <input data-name="js-buffer" type="checkbox" {{ buffer }}>
            Buffer
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-dirStorage" type="checkbox" {{ dirStorage }} >
            Directory Storage
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-minify" type="checkbox" {{ minify }}>
            Minify
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-online" type="checkbox" {{ online }}>
            Online
        </label>
    </li>
    <li>
        <select data-name="js-packer" class="form-control full-width" title="Packer">
            <option {{ tar-selected }}>tar</option>
            <option {{ zip-selected }}>zip</option>
        </select>
    </li>
    <li>
        <label>
            <input data-name="js-cache" type="checkbox" {{ cache }} >
            Cache
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-showKeysPanel" type="checkbox" {{ showKeysPanel }}>
            Show keys panel
        </label>
    </li>
     <li>
        <input
            data-name="js-root"
            title="Root"
            value="{{ root }}"
            placeholder="root"
            class="form-control">
    </li>
    <li>
        <input 
            data-name="js-port"
            min="0"
            max="65535"
            title="Port"
            type="number"
            value="{{ port }}"
            placeholder="Port"
            class="form-control">
    </li>
     <li>
        <label>
            <input data-name="js-progress" type="checkbox" {{ progress }}>
            Progress
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-htmlDialogs" type="checkbox" {{ htmlDialogs }}>
            HTML Dialogs
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-onePanelMode" type="checkbox" {{ onePanelMode }}>
            One Panel Mode
        </label>
    </li>
</ul>
