<ul class="list">
    <li {{ configAuth }}>
        <label>
            <input data-name="js-auth" type="checkbox" {{ auth }} >
            Auth
        </label>
    </li>
    <li {{ configAuth }}>
        <input
            data-name="js-username"
            type="text"
            class="form-control"
            placeholder="username"
            value="{{ username }}"
            title="Username"
            autocomplete="username">
    </li>
    <li {{ configAuth }}>
        <input
            data-name="js-password"
            type="password"
            class="form-control"
            placeholder="password"
            value="{{ password }}"
            title="Password"
            autocomplete="current-password">
    </li>
    <li>
        <label>
            <input
                data-name="js-diff"
                type="checkbox"
                {{ diff }}>
            Diff
        </label>
    </li>
    <li>
        <label>
            <input
                data-name="js-zip"
                type="checkbox"
                {{ zip }}>
            Zip
         </label>
    </li>
    <li>
        <select data-name="js-columns" class="form-control full-width" title="Columns">
            <option {{ name-size-date-owner-mode-selected }}>name-size-date-owner-mode</option>
            <option {{ name-size-date-selected }}>name-size-date</option>
            <option {{ name-size-selected }}>name-size</option>
        </select>
    </li>
    <li>
        <select data-name="js-editor" class="form-control full-width" title="Editor">
            <option {{ edward-selected }}>edward</option>
            <option {{ dword-selected }}>dword</option>
            <option {{ deepword-selected }}>deepword</option>
        </select>
    </li>
    <li>
        <label>
            <input
                data-name="js-vim"
                type="checkbox"
                {{ vim }}>
            Vim
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-buffer" type="checkbox" {{ buffer }}>
            Buffer
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-dirStorage" type="checkbox" {{ dirStorage }} >
            Directory Storage
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-online" type="checkbox" {{ online }}>
            Online
        </label>
    </li>
    <li>
        <select data-name="js-packer" class="form-control full-width" title="Packer">
            <option {{ tar-selected }}>tar</option>
            <option {{ zip-selected }}>zip</option>
        </select>
    </li>
    <li>
        <label>
            <input data-name="js-oneFilePanel" type="checkbox" {{ oneFilePanel }}>
            One File Panel
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-keysPanel" type="checkbox" {{ keysPanel }}>
            Keys panel
        </label>
    </li>
     <li>
        <input
            data-name="js-name"
            title="Name"
            value="{{ name }}"
            placeholder="name"
            class="form-control">
    </li>
     <li>
        <input
            data-name="js-root"
            title="Root"
            value="{{ root }}"
            placeholder="root"
            class="form-control">
    </li>
    <li>
        <input
            data-name="js-port"
            min="0"
            max="65535"
            title="Port"
            type="number"
            value="{{ port }}"
            placeholder="Port"
            class="form-control">
    </li>
    <li>
        <label>
            <input data-name="js-showFileName" type="checkbox" {{ showFileName }}>
            Show File Name
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-confirmCopy" type="checkbox" {{ confirmCopy }}>
            Confirm Copy
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-confirmMove" type="checkbox" {{ confirmMove }}>
            Confirm Move
        </label>
    </li>
     <li>
        <label>
            <input data-name="js-progress" type="checkbox" {{ progress }}>
            Progress
        </label>
    </li>
    <li>
        <label>
            <input data-name="js-syncConsolePath" type="checkbox" {{ syncConsolePath }}>
            Sync Console Path
        </label>
    </li>
</ul>
