<{{ tag }} {{ attribute }}class="{{ className }}">
    <span data-name="js-type" class="mini-icon {{ type }}"></span>
    <span data-name="js-name" class="name reduce-text">{{ name }}</span>
    <span data-name="js-size" class="size reduce-text">{{ size }}</span>
    <span data-name="js-date" class="date reduce-text">{{ date }}</span>
    <span data-name="js-owner" class="owner reduce-text">{{ owner }}</span>
    <span data-name="js-mode" class="mode reduce-text">{{ mode }}</span>
</{{ tag }}>